*~
*.1jit
*.a
*.debug
*.dll
*.dylib
*.exe
*.la
*.o
*.orig
*.out
*.rej
*.so
*.test
.deps
.dirstamp
.libs
a.out
config.cache
config.log
config.status
Makefile
/autom4te.cache
/go/go
/include/onejit_config.h
/include/stamp-h1
/test/test_jit
